################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FinancialControl/JVB.FinancialControl.Application/obj
/FinancialControl/JVB.FinancialControl.Data/obj
/FinancialControl/JVB.FinancialControl.Domain/obj
/FinancialControl/JVB.FinancialControl.Web/obj
/.vs
/FinancialControl/.vs
/FinancialControl/JVB.FinancialControl.Application/bin/Debug/net6.0
/FinancialControl/JVB.FinancialControl.Common/bin/Debug/net6.0
/FinancialControl/JVB.FinancialControl.Common/obj
/FinancialControl/JVB.FinancialControl.Data/bin/Debug/net6.0
/FinancialControl/JVB.FinancialControl.Domain/bin/Debug/net6.0
/FinancialControl/JVB.FinancialControl.UI/bin/Debug/net6.0
/FinancialControl/JVB.FinancialControl.UI/obj
/FinancialControl/JVB.FinancialControl.Web/bin/Debug/net6.0
